<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Profile" icon="ion-person" href="#/page1/profile">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Reports" icon="ion-clipboard" href="#/page1/reports">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Tracker" icon="ion-arrow-graph-up-right" href="#/page1/tracker">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
				<ion-tab title="Settings" icon="ion-settings" href="#/page1/settings">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>